SOAPExample/WebContent/wsdl/HelloSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://examples.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://examples.com" xmlns:intf="http://examples.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://examples.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sumOfNumbers">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumOfNumbersResponse">
    <complexType>
     <sequence>
      <element name="sumOfNumbersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="Name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumOfNumbersRequest">

      <wsdl:part element="impl:sumOfNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumOfNumbersResponse">

      <wsdl:part element="impl:sumOfNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloSoap">

      <wsdl:operation name="sumOfNumbers">

         <wsdl:input message="impl:sumOfNumbersRequest" name="sumOfNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumOfNumbersResponse" name="sumOfNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapSoapBinding" type="impl:HelloSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sumOfNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumOfNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumOfNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloSoapService">

      <wsdl:port binding="impl:HelloSoapSoapBinding" name="HelloSoap">

         <wsdlsoap:address location="http://localhost:8080/SOAPExample/services/HelloSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
